@import "tailwindcss";

:root {
  --background: #F9F7F7;
  --foreground: #112D4E;
}

.dot-indicator {
  background-color: #3F72AF;
}

.dot-indicator[data-active="true"] {
  background-color: #DBE2EF;
}

.button {
  background-color: #112D4E;
  color: #F9F7F7;
}

.button:hover {
  background-color: #FBBC05;
  transform: scale(1.05);
}

.button:focus {
  outline: none;
}

.inactive-button {
  background-color: #fff;
  border-color: #3F72AF;
  color: #3F72AF;
}

.circle {
  background-color: #F9F7F7;
}

.text-color-gray {
  color: #999999;
}

.border-color-gray {
  border-color: #999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #F9F7F7;
  }

  .dot-indicator {
    background-color: #DBE2EF;
  }

  .dot-indicator[data-active="true"] {
    background-color: #3F72AF;
  }

  .button {
    background-color: #3F72AF;
    color: #F9F7F7;
  }

  .button:hover {
    background-color: #112D4E;
    transform: scale(1.05);
  }

  .button:focus {
    outline: none;
  }

  .circle {
    background-color: #000;
  }
}

@media (min-width: 700px) and (max-width: 1300px) {
  .custom-size {
    width: 80px;
    height: 80px;
  }

  .image {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  .single-grid {
    grid-template-columns: 1fr !important;
  }

  .flex-fiture-price {
    margin-bottom: 10px;
  }

  .header-event-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

@media (min-width: 700px) and (max-width: 1000px) {
  .regis-css {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .custom-size {
    width: 32;
    height: 32;
  }

  .review-card {
    max-width: 650px;
    width: 100vw
  }

  .left-align {
    justify-self: start;
  }

  .right-align {
    justify-self: end;
  }

  .flex-fiture-button {
    flex-direction: row;
  }

  .header-event-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .custom-size {
    width: 50px;
    height: 50px;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .single-grid {
    grid-template-columns: 1fr !important;
  }

  .flex-fiture-price {
    margin-bottom: 10px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}